<% companies = local_assigns[:companies] %>
<div class="list-of-companies">
    <% companies.each do |company|%>
        <div class="card company-card"> 
            <div class="company-name"> <%= company.name %> </div>
            <div class="company-rating"> 
                <div class="company-rating-number"> <%= company.rating %> </div>
                <div class="company-rating-icon"> <%= image_tag("icons/star.png", alt: "star", class: "star-icon") %> </div>
            </div> 
            <div class = "company-details">
                <div class="company-headquarter"> <%= company.head_quarter %> </div> ,
                <div class="company-since"> &nbsp<%= company.since %> </div> 
            </div>
        </div>
    <% end %>
</div>