<!DOCTYPE html>
<html>
  <head>
    <title>Jobs for you</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Find jobs all over the world</title>
    <meta name="description" content="Find jobs all over the world">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
